{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}


         <h2> Bienvenue sur la page d'accueil </h2>
  


{% endblock %}
