{% for type, messages in app.flashes(['info', 'success', 'warning', 'danger']) %}
	{% for message in messages %}

		<div class="alert alert-{{ type }} position-fixed top-25 w-25 start-0 m-2">
			<div class="toast-header">

				<p>Soin de Soi</p>
				<button type="button" class="btn-close" style="margin-left: 2rem" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="toast-body container">
				{{ message }}
			</div>
		</div>

	{% endfor %}
{% endfor %}
