.navbar {
    height: 7rem;
    background: radial-gradient(circle, #6e0e79 40%, #f3def5 93%);
    position: sticky;
    top: 0px;
    z-index: 10;
}

a.navbar-brand.title {
    background-color: #ffffff !important;
    font-weight: bold !important;
    color: #6e0e79 !important;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem !important;
}

a.nav-link .dropdown-toggle {
    color: white !important;
}

a.nav-link {
    color: white !important;
}

a.nav-link:hover {
    background-color: #facdff;
    color: #6e0e79 !important;
    border-radius: 0.5rem !important;
}

.text-primary {
    color: #6e0e79 !important;
}

.text-secondary:hover {
    background-color: #f3def5;
}