.navbar {
    background-color: #0f70d1 !important;
}

a.navbar-brand.title {
    background-color: #ffffff !important;
    font-weight: bold !important;
    color: #0f70d1 !important;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem !important;
}

a.nav-link .dropdown-toggle {
    color: white !important;
}

a.nav-link {
    color: white !important;
}

a.dropdown-item {
    color: #0d6efd !important;
}