{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

<h1> Paiement refusé !</h1>

{% endblock %}