{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

<h2> Votre paiement a bien été effectué </h2>
	<p class="text-success" style="text-align: center; font-weight: bold; font-size: 28px;">
	Votre commande est validée !
	</p>


{% endblock %}