{% extends 'base.html.twig' %}

{% block title %}Message flash panier validé{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

<div>
  <h1 class="text-success">Commande validée</h1>
  <p style="text-align: center; font-size: 20px";>Un email de confirmation vient de vous être envoyé</p>
</div>
{% endblock %}