{% extends 'base.html.twig' %}

{% block title %}Message flash panier validé{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %} 

{% block body %}

<div>
<h1>Commande validée</h1>
<h2>Un email de confirmation va vous être envoyé</h2>
</div>
{% endblock %}