<div class="container">

	<h1>Confirmation de commande</h1>

	<p>Merci pour votre commande elle sera traitée dans les plus brefs délais</p>
	<p class='text-primary'>Détails de la commande :</p>

	<div>Commande du :
		{{ order.createdAt | date('d-m-y H:i')}}</div>

		  {# <div>Détails de la commande : 
		{{orderProduct.product.name}}
		</div>   #}
	
			<p>Frais de livraison :
				{{ order.city.shippingCost}}€</p>
	
		
		<h1>Total à payer :
				{{ order.totalPrice + order.city.shippingCost }}€</h1>
		
